body {
    font-family: arial !important;
    font-size: 12pt !important;
    font-weight: normal !important;
}

.node rect {
    stroke: #333;
    fill: #fff;
}

.edgePath path {
    stroke: #333;
    fill: #333;
    stroke-width: 1.5px;
}

.stepDescription {
    font-size: 14pt;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inDepthDescription {
    font-size: 10pt;
}

#step3descrInDepth {
    margin-top: 56px;
}

.boxTitle {
    margin-top: 20px;
    text-align: center;
}

#gcDisplay {
    border: 2px solid #333;
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 20px;
    margin: 0;
}

#gcDisplay hr {
    border: 0;
    height: 0px;
    border-bottom: 1px dashed #ccc; background: #999;
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(to right, #ccc, #333, #ccc); */
}

.highlighted, .highlighted-yellow {
    background-color: hsl(46,100%,50%);
}

.highlighted-blue {
    background-color: #3f96d7;
}

.highlighted-green {
    background-color: #8fd563;
}

.highlighted-cyan {
    background-color: #00a3a3;
}

.highlighted-red {
    background-color: rgba(255, 2, 2, 0.6);
}

elementText {
    font-style: italic;
}